name: ci/cd

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [win-x64, linux-x64]
    steps:
      - name: checkout code
        uses: actions/checkout@main
      - name: setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0"
      - name: build
        run: dotnet build --configuration Release
      - name: publish
        run: dotnet publish --configuration Release -r ${{ matrix.os }} --self-contained true -p:PublishSingleFile=true -p:UseAppHost=true
      - name: upload build artifacts
        uses: actions/upload-artifact@main
        with:
          name: ${{ matrix.os }}
          path: bin/Release/${{ matrix.os }}/publish
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        os: [win-x64, linux-x64]
    steps:
      - name: checkout code
        uses: actions/checkout@main
      - name: setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0"
      - name: download build artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: ${{ matrix.os }}
          path: ${{runner.temp}}/${{ matrix.os }}
      - name: run tests
        run: dotnet test --configuration Release
  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: download win-x64 build artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: win-x64
          path: ${{runner.temp}}/win-x64
      - name: download linux-x64 build artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: linux-x64
          path: ${{runner.temp}}/linux-x64
      - name: prepare win-x64 release asset
        shell: pwsh
        run: Compress-Archive -Path ${{runner.temp}}/win-x64 -DestinationPath win-x64.zip
      - name: prepare linux-x64 release asset
        shell: pwsh
        run: Compress-Archive -Path ${{runner.temp}}/linux-x64 -DestinationPath linux-x64.zip
      - name: delete previous release
        uses: dev-drprasad/delete-tag-and-release@v1.1
        with:
          tag_name: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: latest
          prerelease: false
          files: |
            win-x64.zip
            linux-x64.zip
